<div class="center ink-l100 ink-vspace" id="header">
	<%= image_tag("ninja.png") %>
	<h2>Sapoku: instant app-deployments to the cloud</h2>
</div>

<div class="center">
	<p class="mb">We love you long time, yes?<br>We spend so much time loving you,<br>we make no homepage.</p>
	<a href="#" class="ink-button success">New account</a>
	<a href="#" class="ink-button info">Login to account</a>
</div>