<div class="center ink-l100 ink-vspace" id="header">
	<%= image_tag("ninja.png") %>
	<h2>Sapoku: instant app-deployments to the cloud</h2>
</div>

<div class="center">
	<p class="mb">We love you long time, yes?<br>We spend so much time loving you,<br>we make no homepage.</p>

	<%= link_to('New account', new_user_registration_path, :class => "ink-button success") %>
	<%= link_to('Login to account', new_user_session_path, :class => "ink-button info") %>
</div>