<div class="row">
	<h5><% if !Tadpole.find(app.name).running? %><span class="ink-label caution">DOWN<span><% else %><span class="ink-label success">UP<span><% end %> <%= link_to app.name, app %></h5>
</div>