<div class="ink-l100 mb center">
	<h2><i class="icon-dashboard icon-large"></i> Your current apps</h2>
</div>

<% if @apps.empty? %>
	<p class="ink-vspace">No apps yet. <%= link_to 'Click here', new_app_path %> to create one.</p>
<% else %>
	<table class="ink-table ink-bordered ink-zebra ink-hover">
		<thead>
			<th>App name</th>
			<th>Stack</th>
			<th>Internal IP</th>
			<th>Port</th>
			<th>Status</th>
			<th style="width:80px;">Ops</th>
		</thead>
		<tbody>
			<%= render @apps %>
		</tbody>
	</table>
<% end %>