<%= form_for @app, :html => {:class => 'ink-form block ink-l50'} do |f| %>
	<fieldset>
		<legend>One-click instant app</legend>
		<div class="control">
			<%= f.label :name %>
			<%= f.text_field :name %>
			<p class="tip space short">this will be used for the url. no spaces please.</p>
		</div>
		<div class="control">
			<label for="type">Pick your stack</label>
			<select id="type" name="type">
				<option value="0">Ruby</option>
				<option value="0">Node (soon)</option>
				<option value="0">Plain HTML (soon)</option>
			</select>
		</div>
	</fieldset>
	<button class="ink-button success">Launch my app</button>
<% end %>

<div class="ink-l50">
	<h3>Getting started</h3>
	<p>Getting started with Sapoku is easy. Create your first app by selecting one of our available stacks. The name of the app becomes the URL on which it is accessible, such as <mark>myapp.sapoku.com</mark>. Once we are done creating your container, you'll be taken to the container details page automatically.</p>
</div>