<h1>Welcome to SapoKu!</h1>
<%= form_for @app, :html => {:class => 'ink-form block ink-l50'} do |f| %>
	<fieldset>
		<legend>One-click instant app</legend>
		<div class="control">
			<%= f.label :name %>
			<%= f.text_field :name %>
			<p class="tip space short">this will be used for the url. no spaces please.</p>
		</div>
		<div class="control">
			<label for="type">Pick your stack</label>
			<select id="type" name="type">
				<option value="0">Ruby</option>
				<option value="1">Node</option>
				<option value="2">Plain HTML</option>
			</select>
			<p class="tip space short">plain HTML uses your cloudPT storage as opposed to git repo.</p>
		</div>
	<fieldset>
	<button class="ink-button success">Go!</button>
<% end %>