/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
	background: #f0f0f0;
}

#header img {
	width: 200px;
}

#mainwrap {
	padding-top: 10px;
}

.mb {
	margin-bottom: 3em;
}

.right {
	float: right;
}

.center {
	text-align: center;
}

footer {
	margin-top: 4em;
	padding-top: 1em;
	font-size: 0.9em;
	color: #999;
}

footer a, footer i {
	color: #444;
}

i {
	color: #0069D6;
}

h2 i, h1 i {
	margin-right: 0.3em;
}

li code mark {
	font-size: 0.8em;
}

.tiny {
	width: 20px;
	vertical-align: middle;
}